@using System.Security.Claims
@using System.Security.Cryptography
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Triangle>


<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 50%;
            border: 1px solid green;
            margin: auto;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
<div >
    @if (Context.User.FindFirstValue(ClaimTypes.Email) is not null)
    {
        <button class="button">
            <a asp-controller="Add" asp-action="AddTriangle" asp-route-idProduct="">Create</a>
        </button>
    }
    <table>
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            @if (Context.User.FindFirstValue(ClaimTypes.Email) is not null)
            {
                <th>Actions</th>
            }
        </tr>
        </thead>
        <tbody class="thead-light">
        @foreach (var triangle in @Model)
        {
            <tr>
                <td>@triangle.name</td>
                <td>@triangle.A</td>
                <td>@triangle.B</td>
                <td>@triangle.C</td>
                <td>
                    @if (Context.User.FindFirstValue(ClaimTypes.Email) is not null)
                    {
                        <form>
                            <button class="button">
                                <a asp-controller="Home" asp-action="Update" asp-route-idTriangle="@triangle.Id">Update</a>
                            </button>
                            <button class="button">
                                <a asp-controller="Home" asp-action="Delete" asp-route-idTriangle="@triangle.Id">Delete</a>
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    @* <pagination page-info="@Model.PageInfo" page-action="GetCatalog"></pagination> *@
</div>
</body>
</html>