@using System.Security.Claims
@using System.Security.Cryptography
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Triangle>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 50%;
            border: 1px solid green;
            margin: auto;
        }
        td {
            text-align: center;
        }
        .add-button{
            color: #fff;
            background-color: green;
        }
        .update-button{
            color: #fff;
            background-color: yellow;
        }
        .delete-button{
            color: #fff;
            background-color: red;
        }
        .add-button-div{
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div >
    <table>
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            @if (Context.User.FindFirstValue(ClaimTypes.Email) is not null)
            {
                <th>Actions</th>
            }
        </tr>
        </thead>
        <tbody class="thead-light">
        @foreach (var triangle in @Model)
        {
            <tr>
                <td>@triangle.name</td>
                <td>@triangle.A</td>
                <td>@triangle.B</td>
                <td>@triangle.C</td>
                <td>
                    @if (Context.User.FindFirstValue(ClaimTypes.Email) is not null)
                    {
                        <form>
                            <button class="update-button">
                                <a asp-controller="Home" asp-action="Update" asp-route-idTriangle="@triangle.Id">Update</a>
                            </button>
                            <button class="delete-button">
                                <a asp-controller="Home" asp-action="Delete" asp-route-idTriangle="@triangle.Id">Delete</a>
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (Context.User.FindFirstValue(ClaimTypes.Email) is not null)
    {
        <div class="add-button-div">
            <button class="add-button">
                <a asp-controller="Add" asp-action="AddTriangle">Create</a>
            </button>
        </div>    
    }
    @* <pagination page-info="@Model.PageInfo" page-action="GetCatalog"></pagination> *@
</div>
</body>
</html>